<p>Dear <%= bambino['name'] %>,</p>
<p>Hello! You've been assigned <%= assigned_bambino['name'] %>
(<a href="mailto:<%= assigned_bambino['email'] %>"><%= assigned_bambino['email'] %></a>).</p>
<p>Love,<br/>
Me</p>
